.Navbar{
    background: #c7cbcf;
    width: 100vw;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
}
.logo{
    position: absolute;
     left: 45px;
    display: flex;
    align-items: center;
   
    justify-content: space-evenly;
    cursor: pointer;
}
.logo-head > p{
    color: #4624c1;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
}
.Nav-menu{
    position: absolute;
    right: 36px;
    display: flex;
    width: 8%;
    justify-content: space-around;
}
.logo-image > .image{
    width: 100%;
    height: 100%;
}