.lg_form{
    width: 100vw;
    height: 200px;
    display: flex;
   /* justify-content: center; 
   align-items: center; */
    /* position: relative;
    top: 3%; */
}
.sideright{
    left: 3%;
    justify-content: right; 
   align-items: right;

}
.sideleft{

}


.login-heading {
   /* height: 47vh;
    width: 34vw; */
   /* height: 10vh;
    width: 60vw; */
    position: relative;
    display: flex;
   /* align-items: center; */
    left: 3%;
}
.login-heading > p{
    font-family: 'Source Sans Pro';
    color: #211ee8;
    font-size: 7em;
    font-weight: 900; 
}
.login-heading > p > span{
    color: #0303fa;
}
.signup-head{
    position: absolute;
    top: 108%;
    left: 31.5%;
    font-family: 'Source Sans Pro';
    font-size: 1.3em;
}
.signup-head > span{
    cursor: pointer;
    color: #3d2cef;

   
    text-decoration: underline;
}
.radio-button{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    position: absolute;
    top: 18%;
    left: 29%;
}
#field-store,#field-customer{
    position: relative;
    left: -5%;
    cursor: pointer;
}
.label-data{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    color: #2b4057f3;
    font-size: 1.4em;
}
.emails, .passwords {
    position: absolute;
    top: 30%;
    left: 28%;
}
.passwords {
    top: 54%;
}
.forgot{
    position: absolute;
    top: 78%;
    left: 29%;
}
.forgot > u{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    color: #da1717;
    font-size: 1.3em;
}